
<% if current_user %>
  <%= form_for(@goal) do |f| %>
    <% if @goal.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

            <ul>
            <% @goal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
  <div class="form-group">
<div style="width: 400px;">

    <%= f.hidden_field(:ride_id, value: params[:ride_id]) %>
    <label for="time">Time</label>
    <%= f.text_field :time, class: "form-control" %>
  </div>
  </div>
    <div class="form-actions">
      <%= f.submit %>
</div>
<% end %>

<% else %>
  <h1> You have to create an account before you can manage a ride!</h1>
<% end %>
