<h1>Listing hotspots</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Length</th>
      <th>Avg incline</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hotspots.each do |hotspot| %>
      <tr>
        <td><%= hotspot.location %></td>
        <td><%= hotspot.length %></td>
        <td><%= hotspot.avg_incline %></td>
        <td><%= link_to 'Show', hotspot %></td>
        <td><%= link_to 'Edit', edit_hotspot_path(hotspot) %></td>
        <td><%= link_to 'Destroy', hotspot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotspot', new_hotspot_path %>
