<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @ride, :url => rides_path, :html => { :multipart => true } do |form| %>
      <%= form.file_field :gpx %>
      <%= form.submit 'submit', class: 'btn' %>
  <% end %>
<% end %>
